<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>CePa - Result</title>
<style type="text/css">
    body {
        font-family: arial;
        font-size:12px;
        line-height:150%;
    }
    td, th {
        padding:8px 8px;
        text-align:right;
    }
    th {
        background-color: #CCC;
    }
    tr:hover {
        background-color:#EEEEEE;
    }
    a {
        text-decoration:none;
        color: blue;
    }

    .significant-pathway {
        background-color: rgb(251, 180, 174);
    }
    .significant {
        font-weight: bold;
    }
    .legend {
        font-weight: bold;
        padding:10px 0px;
    }
    .graph {
        text-align:left;
        border:1px #999 solid;
        margin: 10px 0px;
        padding: 10px;
    }
    .clear {
        clear:both;
    }

</style>
<script type="text/javascript">

function initialAjax () {
	var xmlHttp;
	try {
		// Firefox, Opera 8.0+, Safari
		xmlHttp=new XMLHttpRequest();
	}
	catch (e) {
	// Internet Explorer
		try {
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch (e) {
			try {
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}
			catch (e) {
				alert("blabla");
				return false;
			}
		}
	}
	return xmlHttp;
}

function getGraph(pathway, centrality) {
	var obj=document.getElementById("pathway-graph-div");
	if(obj) {
		document.body.removeChild(obj); 
	}
	
	var obj = document.createElement("div");
	obj.setAttribute("id", "pathway-graph");
	obj.style.position = 'absolute';
	obj.style.top = '0';
	obj.style.padding = "20px";
	obj.style.width = "900px";
	obj.style.zIndex = "999";
	obj.style.margin = "40px 0px 40px 0px";
	obj.style.background = "#ffffff";

	var objopacity = document.createElement("div");
	objopacity.setAttribute("id", "pathway-graph-div");
	objopacity.style.position = 'absolute';
	objopacity.style.left = '0';
	objopacity.style.top = '0';
	objopacity.style.width = "100%";
	objopacity.style.zIndex = "99";
	objopacity.style.background = "#cccccc";
	objopacity.style.opacity = "0.5";
	objopacity.style.filter = "alpha(opacity=50)";
		
	
	var f1 = document.createElement("div");
	f1.innerHTML = "<p><img src='image/"
	               + pathway
				   + "-"
				   + centrality
				   + "-null.png' /></p>"
				   + "<p><b>Figure 1</b>. Null distribution of pathway scores of "
				   + pathway + " under " + centrality + ".</p>";
	
	var f2 = document.createElement("div");
	f2.innerHTML = "<p><img src='image/"
	               + pathway
				   + "-"
				   + centrality
				   + "-graph.png' /></p>"
				   + "<p><b>Figure 2</b>. Graph of "
				   + pathway + " under " + centrality+ ".</p>";
				   
	var close = document.createElement("p");
	close.innerHTML = "<input type='button' value='close' class='form-button' onclick='document.body.removeChild(document.getElementById(\"pathway-graph-div\"));document.body.removeChild(document.getElementById(\"pathway-graph\"))' />";
	
	obj.appendChild(f1);
	obj.appendChild(f2);
	obj.appendChild(close);
	
	window.scrollTo(0,0)
	obj.style.left = "10px";
	objopacity.style.height = document.body.scrollHeight + 40 +"px";
	document.body.appendChild(objopacity);
	document.body.appendChild(obj);
	
}

</script>
</head>
<body>
    <div id="container">
        <h1 id="title">Analysis results by CePa</h1>
        <div class="description">
            <h2>Method to adjust raw p-values: @{adj.method}</h2>
            <h2>Cutoff: @{cutoff}</h2>
        </div>
        <div class="graph">
            <p><img src="@{f1.path}" /></p>
            <p class="legend">Fig 1. Heatmap of @{ifelse(adj.method == "none", "p-values", "FDRs")} of all pathways.</p>
        </div>
        <div class="graph">
            <p><img src="@{f2.path}" /></p>
            <p class="legend">Fig 2. Heatmap of @{ifelse(adj.method == "none", "p-values", "FDRs")} of significant pathways.</p>
        </div>
        <div class="table">
            <p class="legend">Table 1. Complete list of @{ifelse(adj.method == "none", "p-values", "FDRs")} of all pathways under all centrality measurements.</p>
            <p><a href="@{sig.path}">Table of significance in txt format</a></p>
            <table id="class-legend">
                <tr><td class="significant-pathway">Significant pathways</td></tr>
                <tr><td class="significant">Significant @{ifelse(adj.method == "none", "p-values", "FDRs")}</td></tr>
            </table>
            <table>
                <tbody>
                    <tr>
                        <th>@{table.head(x)}</th>
                    </tr>
                    @{table.content(x, adj.method = adj.method, cutoff = cutoff, only.sig = only.sig)}
                </tbody>
            </table>
        </div>
        <div id="footer">
            <p>Generated by <a href="http://www.r-project.org/">CePa @{installed.packages()["CePa", "Version"]}</a>, @{date()}</p>
        </div>
    </div>
</body>
</html>
